.btn {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--text-size);
  margin: 4px 2px; /* Margen externo */
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--color-hover);
}

.btn--important {
  background-color: var(--color-highlight);
}

.btn--important:hover {
  background-color: var(--color-hover-2);
}