.btn {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: none;
  color: var(--color-text-alt);
  cursor: pointer;
  display: inline-block;
  font-size: var(--text-size);
  font-weight: 900;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-hover);
}

.btn--important {
  background-color: var(--color-highlight);
  color: var(--color-text);
}

.btn--important:hover {
  background-color: var(--color-hover-2);
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.btn-sm {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: none;
  color: var(--color-text-alt);
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 800;
  padding: 8px;
  text-decoration: none;
}


@media (max-width: 768px) {
  .btn {
    font-size: 4vw;
    padding: 2vw 4vw;
  }
}