#faq {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
    padding: 1rem;
  }
  
  #faq div h2 {
    font-size: var(--text-size-subtitle);
    color: var(--color-text);
    font-weight: 600;
  }
  
  #faq div h2 strong {
    font-size: var(--text-size-subtitle);
    background-color: var(--color-primary);
    color: var(--color-text-alt);
  }


.faq {
    max-width: var(--max-width);
    padding-block: 3rem;
    margin-inline: auto;
    text-align: left;
    gap: 0;
}

.faq details {
    margin-bottom: 1rem;
}

.faq summary {
    font-weight: 500;
    cursor: pointer;
}

.faq h2 {
    margin-block-end: 2rem;
}

#faqs-title{
  margin-right: 2rem;
  padding-right: 3rem;
}

@media (min-width: 768px){
    .faq {
      gap: 2rem;
    }
  }