#opiniones_desplegable details summary {
    font-size: var(--text-size-subtitle);
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
    list-style: none; /* Elimina la flecha que aparece por defecto */
}

#opiniones_desplegable summary {
    position: relative;
    z-index: 1000;
}


#opiniones_desplegable details p {
    max-width: 600px;
    margin: 0 auto; 
    padding: 1rem;
    font-size: var(--text-size)
    line-height: 1.5;
}

/* Carrousel con Swiper */

.swiper-wrapper {
    display: flex;
    gap: 20px;
}

.swiper-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    padding-bottom: 2rem;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-right: 0;
}

.swiper-slide iframe {
    max-width: 100%;
    height: auto; 
}
  
.swiper-button-next, 
.swiper-button-prev {
    color: white !important;
    font-size: 20px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--color-primary) !important;
}

.swiper-pagination {
    display: none;
}

/* video-css */

.video-container-carrousel{
    position: relative;
    width: 100%;
    padding-bottom: 80%;
    height: 0;
    overflow: hidden;
}

.video-container-carrousel iframe {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    transform: translateX(-50%);
}

/* imágen en cambios físicos */

#cambios-físicos {
    background-image: url(../../images/cambios_fisicos_2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    width: 50%;
    min-height: 600px;
}

/* media query para la imágen de cambios físicos */

@media screen and (max-width: 768px) {
    #cambios-fisicos {
        width: 90%;
        min-height: 400px; 
        background-size: cover; 
    }
}

@media screen and (max-width: 480px) {
    #cambios-fisicos {
        width: 100%; 
        min-height: 300px; 
        background-size: cover;
    }
}