.plan {
    border: 2px solid var(--color-primary);
    padding: 1rem;
    border-radius: 1rem;
    background-color: #0000000f;
    box-shadow: 0 0 1rem #ffffff6b;
    margin-top: 3rem;
    overflow: hidden;
}

.plan p {
    line-height: 1.5;
    margin-bottom: 0.3rem;
}

.plan > div {
    margin-bottom: 1rem;
    position: relative;
}

.plan--highlight {
    border-color: black;
    color: var(--color-text-alt);
    margin-top: 2rem;
    background-image: url(../../images/photo_example_3.jpg);
    position: relative;
}

.plan--highlight .cover {
    position: absolute;
    inset: 0;
    background-color: #ffffffcc;
}