/* Cards */
.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid var(--color-primary);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 54px 55px, 
                rgba(255, 255, 255, 0.1) 0px -12px 30px, 
                rgba(255, 255, 255, 0.1) 0px 4px 6px, 
                rgba(255, 255, 255, 0.15) 0px 12px 13px, 
                rgba(255, 255, 255, 0.08) 0px -3px 5px;
    margin-top: 3rem;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.plan:hover {
    transform: translateY(-16px);
    transition: transform 0.3s ease;
}

.plan p {
    line-height: 1.7;
    margin-bottom: 0.5rem;
    font-size: var(--text-size);
}

.plan--highlight {
    border-color: black;
    color: var(--color-text);
    font-weight: 600;
    margin-top: 2rem;
    background-image: url(../../images/agus_1_luminosa.jpg);
    position: relative;
}

.plan--highlight .cover {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.336);
}

.plan--highlight .btn {
    position: relative;
    z-index: 1;
}

/* Plans Container */

#plans h3 {
    font-size: var(--text-size);
    text-align: center;
    align-items: center;
    justify-content: center;
}

#plans h2 {
    color: var(--color-primary);
    font-size: var(--text-size-subtitle);
    text-align: center;
    align-items: center;
    justify-content: center;
}

#plans h2 small {
    color: var(--color-text);
    display: block;
}