/* Estructura del contenedor de tarjetas */
.pricing-section {
    display: flex;
    justify-content: space-around;
  }

  .best-seller-badge {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 0.9em;
}
  
  /* Estilo de las tarjetas individuales */
  .pricing-card {
    border-radius: 10px;
    width: 320px;
    padding: 16px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border: 2px solid var(--color-primary);
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.253) 0px 8px 32px 0px;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
  }

  .pricing-card:hover {
    transform: translateY(-16px);
    transition: transform 0.3s ease;
  }
  
  .pricing-plan-name {
    font-size: var(--text-size);
    font-weight: 700;
    margin-top: 8px;
  }

  /* Estilo del título de cada tarjeta */
  .pricing-title {
    font-size: 1.2vw;
    font-weight: 500;
    color: var(--color-text);
    margin-top: 5px;
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
  }
  
  /* Estilo del precio dentro de la tarjeta */
  .pricing-price {
    font-size: 1.5em;
    color: var(--color-primary);
    margin-bottom: 20px;
  }
  
  /* Estilo para el texto secundario en el precio (ej. "Único pago") */
  .pricing-subtext {
    font-size: 0.8em;
    font-weight: normal;
  }
  
  /* Estilo de la lista de características */
  .pricing-features {
    list-style-type: none;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilo de cada ítem de la lista de características */
  .pricing-feature {
    font-size: 0.9em;
    margin-bottom: 10px;
    color: var(--color-text);
  }

  /* Clase especial para destacar la tarjeta del medio */
  .pricing-card.featured {
    transform: scale(1.1);
    border-width: 4px;
    z-index: 1;
  }

  .pricing-card.featured:hover {
    transform: translateY(-16px);
    transition: transform 0.3s ease;
  }
  
  
  /* Responsividad para pantallas pequeñas */
  @media (max-width: 768px) {
    .pricing-section {
      flex-direction: column;
      align-items: center;
    }
  
    .pricing-card {
      width: 100%;
      max-width: 350px;
      margin-bottom: 1.5rem;
    }
  }
  