* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("images/wallpaper_gym.png"); /* ruta a imagen de fondo */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* ------------------ starts navbar styles --------------- */

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0; 
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/* ------------------ ends navbar styles --------------- */

/* ------------------ starts "opening" --------------- */

.opening {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 150px;
}

.opening_up {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background-color: rgba(36, 35, 35, 0.507);
}

.opening_down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background-color: rgba(36, 35, 35, 0.507);
}

.opening_up h1 {
  font-size: 85px;
  color: #fff;
}

.opening_up .subtitle {
  font-size: 24px;
  color: #fff;
}

.opening_down h2 {
  font-size: 35px;
  color: #fff;
}

.opening_down .yellow {
  color: yellow;
}

/* ------------------ ends "opening" --------------- */

/* ------------------ starts "about_me" --------------- */

.about_me {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
}

.about_me h2 {
  font-size: 35px;
  color: #fff;
}

.about_me p {
  font-size: 20px;
  color: #fff;
  background-color: green;
}

/* ------------------ ends "about_me" --------------- */

/* ------------------ starts "my_journey" --------------- */

.my_journey {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
}

.my_journey h2 {
  font-size: 35px;
  color: #fff;
}

.my_journey .yellow {
  color: yellow;
  font-size: 24px;
}

.my_journey p {
  font-size: 20px;
  color: #fff;
  background-color: blueviolet;
}

.my_journey span {
  color: yellow;
  font-weight: bold;
}

/* ------------------ ends "my_journey" --------------- */

/* ------------------ starts "asesoria_online" --------------- */

.asesoria_online {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
}

.asesoria_online h2 {
  font-size: 35px;
  color: #fff;
}

.asesoria_online span {
  color: yellow;
  font-weight: bold;
}

.asesoria_online p {
  font-size: 20px;
  color: #fff;
  background-color: aquamarine;
}

.asesoria_online h3 {
  font-size: 35px;
  color: #fff;
}

/* ------------------ ends "asesoria_online" --------------- */

/* ------------------ starts "casos_exito" --------------- */

.casos_exito {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
}

.casos_exito h2 {
  font-size: 35px;
  color: #fff;
}

.casos_exito span {
  color: yellow;
  font-weight: bold;
}

.casos_exito p {
  font-size: 20px;
  color: #fff;
  background-color: blue;
}

/* ------------------ ends "asesoria_online" --------------- */

/* ------------------ starts "medios_pago" --------------- */

.medios_pago {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  gap: 15px;
}

.medios_pago h2 {
  font-size: 35px;
  color: #fff;
}

.medios_pago span {
  color: yellow;
  font-weight: bold;
}

.medios_pago p {
  font-size: 20px;
  color: #fff;
  background-color: blue;
}

.medios_pago .logos {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  gap: 20px;
}
/* ------------------ ends "medios_pago" --------------- */

/* ------------------ starts "garantia" --------------- */

.garantia {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
}

.garantia h2 {
  font-size: 35px;
  color: #fff;
}

.garantia span {
  color: yellow;
  font-weight: bold;
}

.garantia p {
  font-size: 20px;
  color: #fff;
  background-color: red;
}

.garantia .logos {
  display: flex;
  flex-direction: row;
}

/* ------------------ ends "garantia" --------------- */

/* ------------------ starts "precio" --------------- */

.precio {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
}

.precio h2 {
  font-size: 35px;
  color: #fff;
}

.precio span {
  color: yellow;
  font-weight: bold;
}

/* ----- column1 ----- */

.column1 {
  display: flex;
  flex-direction: row;
}

.column1 h3 {
  font-size: 25px;
  color: #fff;
}

.column1 p {
  font-size: 18px;
  color: #fff;
}

.column1 span {
  color: yellow;
  font-weight: bold;
}

/* ----- column2 ----- */

.column2 {
  display: flex;
  flex-direction: row;
}

.column2 h3 {
  font-size: 25px;
  color: #fff;
}

.column2 p {
  font-size: 18px;
  color: #fff;
}

.column2 span {
  color: yellow;
  font-weight: bold;
}

/* ----- column3 ----- */

.column3 {
  display: flex;
  flex-direction: row;
}

.column3 h3 {
  font-size: 25px;
  color: #fff;
}

.column3 p {
  font-size: 18px;
  color: #fff;
}

.column3 span {
  color: yellow;
  font-weight: bold;
}

/* ------------------ ends "precio" --------------- */
