* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("images/wallpaper_gym.png"); /* ruta a imagen de fondo */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* ------------------ starts "opening" --------------- */

.opening {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.opening_up {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.opening_down {
  display: flex;
  flex-direction: column;
}

.opening_up h1 {
  font-size: 85px;
  color: #fff;
}

.opening_up .subtitle {
  font-size: 24px;
  color: #fff;
}

.opening_down h2 {
  font-size: 35px;
  color: #fff;
}

.opening_down .yellow {
  color: yellow;
}

/* ------------------ ends "opening" --------------- */

/* ------------------ starts "about_me" --------------- */

.about_me {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about_me h2 {
  font-size: 35px;
  color: #fff;
}

.about_me p {
  font-size: 20px;
  color: #fff;
  background-color: green;
}

/* ------------------ ends "about_me" --------------- */

/* ------------------ starts "my_journey" --------------- */

.my_journey {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.my_journey h2 {
  font-size: 35px;
  color: #fff;
}

.my_journey .yellow {
  color: yellow;
  font-size: 24px;
}

.my_journey p {
  font-size: 20px;
  color: #fff;
  background-color: blueviolet;
}

.my_journey span {
  color: yellow;
  font-weight: bold;
}

/* ------------------ ends "my_journey" --------------- */

/* ------------------ starts "asesoria_online" --------------- */

.asesoria_online {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.asesoria_online h2 {
  font-size: 35px;
  color: #fff;
}

.asesoria_online span {
  color: yellow;
  font-weight: bold;
}

.asesoria_online p {
  font-size: 20px;
  color: #fff;
  background-color: aquamarine;
}

.asesoria_online h3 {
  font-size: 35px;
  color: #fff;
}

/* ------------------ ends "asesoria_online" --------------- */

/* ------------------ starts "casos_exito" --------------- */

.casos_exito {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.casos_exito h2 {
  font-size: 35px;
  color: #fff;
}

.casos_exito span {
  color: yellow;
  font-weight: bold;
}

.casos_exito p {
  font-size: 20px;
  color: #fff;
  background-color: blue;
}

/* ------------------ ends "asesoria_online" --------------- */

/* ------------------ starts "medios_pago" --------------- */

.medios_pago {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.medios_pago h2 {
  font-size: 35px;
  color: #fff;
}

.medios_pago span {
  color: yellow;
  font-weight: bold;
}

.medios_pago p {
  font-size: 20px;
  color: #fff;
  background-color: blue;
}

.medios_pago .logos {
  display: flex;
  flex-direction: row;
}
/* ------------------ ends "medios_pago" --------------- */

/* ------------------ starts "garantia" --------------- */

.garantia {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.garantia h2 {
  font-size: 35px;
  color: #fff;
}

.garantia span {
  color: yellow;
  font-weight: bold;
}

.garantia p {
  font-size: 20px;
  color: #fff;
  background-color: red;
}

.garantia .logos {
  display: flex;
  flex-direction: row;
}

/* ------------------ ends "garantia" --------------- */

/* ------------------ starts "precio" --------------- */

.precio {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.precio h2 {
  font-size: 35px;
  color: #fff;
}

.precio span {
  color: yellow;
  font-weight: bold;
}

/* ----- column1 ----- */

.column1 {
  display: flex;
  flex-direction: row;
}

.column1 h3 {
  font-size: 25px;
  color: #fff;
}

.column1 p {
  font-size: 18px;
  color: #fff;
}

.column1 span {
  color: yellow;
  font-weight: bold;
}

/* ----- column2 ----- */

.column2 {
  display: flex;
  flex-direction: row;
}

.column2 h3 {
  font-size: 25px;
  color: #fff;
}

.column2 p {
  font-size: 18px;
  color: #fff;
}

.column2 span {
  color: yellow;
  font-weight: bold;
}

/* ----- column3 ----- */

.column3 {
  display: flex;
  flex-direction: row;
}

.column3 h3 {
  font-size: 25px;
  color: #fff;
}

.column3 p {
  font-size: 18px;
  color: #fff;
}

.column3 span {
  color: yellow;
  font-weight: bold;
}

/* ------------------ starts "precio" --------------- */
