/* Commons */
@import url(../common/common.css);

/* Variables */
@import url(../common/variables.css);

/* Components */
@import url(../components/navbar.css);
@import url(../components/btn.css);

body {
  background-image: url(../../images/background_image.jpeg);
  background-size: cover;
  padding-block-start: 5em;
  text-align: center;
}

#opening h1 {
  color: var(--color-primary);
  font-size: var(--text-size-title);
}

#opening h2 {
  color: var(--color-text);
  font-size: var(--text-size-subtitle);
}

.opening_2 h2 {
  color: var(--color-primary);
  font-size: var(--text-size-title);
}

.opening_2 p {
  color: var(--color-text);
  font-size: var(--text-size);
}
