.block {
  padding: 3rem;
}

.block--black {
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}

.block--white {
  background-color: var(--color-background-alt);
  color: var(--color-text-alt);
  overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: stretch;
}

.flex > * {
  width: 100%;
}

.flex--reverse{
  flex-direction: column-reverse;
}

.line--spacing {
  line-height: 1.7;
}

.line--spacing > div {
  margin-bottom: 0.9rem;
  position: relative;
}

.only-desktop {
  display: none;
}

.wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
}

.image-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px){
  .flex {
    flex-direction: row;
  }
  .flex--reverse{
    flex-direction: row-reverse;
  }
  .only-desktop{
    display: initial;
  }
}