:root {
  --color-primary: #ffce01;
  --color-highlight: black;

  --color-background: #000000;
  --color-background-alt: #ffffff;

  --color-text: #ffffff;
  --color-text-alt: #000000;

  --color-hover: #ffcc01d2;
  --color-hover-2: rgb(1, 1, 97);

  --max-width: 1300px;

  --text-size: 1.7vw;
  --text-size-title: calc(var(--text-size) * 2.3);
  --text-size-subtitle: calc(var(--text-size) * 1.5);
}

@media (max-width: 767px) {
  :root {
    --text-size: 4vw;
    --text-size-title: calc(var(--text-size) * 3);
    --text-size-subtitle: calc(var(--text-size) * 2);
  }
}
