:root {
  --color-primary: #f00;
  --color-background: #000;
  --color-text: #fff;
  --color-hover: #980404;

  --text-size: 14px;
  --text-size-title: calc(var(var(--text-size) * 3));
  --text-size-subtitle: calc(var(var(--text-size) * 2));
}
